    <div class="container-fluid">
        <div class="col-lg-8">
            <div class="jumbotron" style="height:500px;background: url(images/foto.jpg);background-size: 1920px 500px">
                <h1 align="right">Фото дня</h1>
            </div>
        </div>
        <div class="col-lg-4">
                <div class="container actual-news">
                    <h4>Актуальные новости</h4>
                    <div class="list-group" >
                        
                        <a href="#/articles/{{mainNews.id}}" class="list-group-item"  ng-repeat="mainNews in actualNews">
                            <h4 class="list-group-item-heading">{{mainNews.header.slice(0,42)+"..."}}</h4>
                            <p class="list-group-item-text">{{mainNews.lastEditedOn.dayOfMonth}}.{{mainNews.lastEditedOn.monthValue}}.{{mainNews.lastEditedOn.year}}</p>
                        </a>
                    </div>  
                </div>             
        </div>
    </div>
    <div class="container-fluid">
        <div class="news-block"  ng-repeat="mainNews in news">
                <img src="images/foto.jpg" width="250" height="200">
                <h2>{{mainNews.header}}</h2>
                <h5>{{mainNews.text}}</h5>
                <p>{{mainNews.lastEditedOn | date:'dd.MM.yyyy'}}</p>
                <a href="#/articles/{{mainNews.id}}"><h3>Читать полностью</h3></a>
        </div>
        <!-- <h1 ng-if="!$scope.getingStatus">Ошибка данные отсутвуют!</h1> -->
    </div>