
header
{
    margin: 0 0 40px;
    height: 60px;
    border-bottom:0px solid black;
    background: #eff0f4;
}
body
{
   background: #d7dce2; 
}
.page-header
{
    margin: inherit;
    height: 60px;
    border-bottom:0px solid black;
    background: #eff0f4;
}
.page-header> a > img
{    margin: 15px 0 10px ;
    height :26px;
    width :27px;
    
}
.navbar-link
{
    margin: inherit;
    font-family: 'Arial';
    font-size: 381px 32px;
    color: black;
}
.navbar-link:hover{
    color:black;
}
.text-block
{
    padding: 15px 30px 0 80px;
    margin: -30px 0 30px;
}
.form-group .form-control
{
    width: 700px;
}
.navbar-form
{
    margin: -40px 0 10px;
}
.navbar-brand>img
{
    height:82px;
    width:90px;
}
.navbar-fixed-bottom
{
        background: #eff0f4;
}
.affix
{
    width: 100%;
}
@font-face
{
    font-family: 'Goudy stout';
    src: url('../fonts/GOUDYSTO.ttf') format('truetype')
}
@font-face
{
    font-family:'Tekton pro';
    src:url('../fonts/Tekton Pro Bold.ttf')format('truetype')
}
h1.navbar-text
{
    font-family:'Goudy Stout';
    font-size: 30pt;
    font-style: oblique;
    font-weight: bold;
    margin:30px 0;
}
.navbar
{
    height:100px;
}
.btn-group-justified
{
    width: 700px;
    left:60px;
    top: 30px;
    
}
.btn-default
{
    font-family:'Arial';
    font-size:13pt;
    background: #eff0f4;
}

.jumbotron>h1
{
    font-family: 'Tekton Pro';
    font-style: italic;
    font-size: 64pt;
    font-weight: bold;
    color:#d0cdcd;
    
}
.news-block
{
    width: 950px;
    height: 300px;
    border: 0.5px solid black;
    margin-top: 50px;
    margin-left: 20px;
 
}
.news-block >img
{
    float:left;
    width: 250px;
    height:200px;
    margin-left: 10px;
    margin-top: 10px;
}
.news-block >h2
{
    font-family: 'Arial';
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}
.news-block >h5
{
    font-family: 'Arial';
    font-size: 13pt;
    text-align: left;
}
.news-block >a>h3
{
    font-family: 'Arial';
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}
.news-block >a
{
    color:black;
}
.news-block >a:hover
{
    color:black;
}
.actual-news
{
    width: 300px;
    height:  200px;
    position:absolute;
    margin-top:200px;
    margin-left: 1000px;
}
.actual-news>h4
{
    font-family: 'Century Schoolbook';
    font-size: 18pt;
    font-style: oblique;
    font-weight: bold;
    text-align: justify;
}
.list-group-item
{
    background: #eff0f4;
}
.modal-title
{
    font-family: 'Arial';
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
.modal-header, .modal-, .modal-footer
{
    border:0px;
}
.form
{
    width: 450px;
    height: 30px;
    margin-left: 40px;
    border:1px solid graytext;
    background: #ebeff1; 
    box-shadow: 0 0 10px graytext;
    border-radius: 3px;
    
}
.modal-content
{
    background: #eff0f4;
    
}
.modal-footer>button
{
    width: 250px;
    margin-right: 150px;
}