*{
    padding: 0;
    margin: 0;
    font-family: "RobotoBold";
}

header
{
    background: #eff0f4;
}
body
{
   background-color: white; 
}
.page-header
{
    margin: inherit;
    height: 60px;
    border-bottom:0px solid black;
    background: #eff0f4;
}
.page-header> a > img
{    margin: 15px 0 10px ;
    height :26px;
    width :27px;    
}

.text-block
{
    padding: 15px 30px 0 80px;
    margin: -30px 0 30px;
}



.navbar-fixed-bottom
{
        background: #eff0f4;
}
.affix
{
    width: 100%;
}
@font-face
{
    font-family: 'Goudy stout';
    src: url('../fonts/GOUDYSTO.ttf') format('truetype')
}
@font-face
{
    font-family:'Tekton pro';
    src:url('../fonts/Tekton Pro Bold.ttf')format('truetype')
}
h1.navbar-text
{
    font-family:'Goudy Stout';
    font-size: 100%;
    font-style: oblique;
    padding: 0;
    margin: 0;
    line-height: 100%;
    font-weight: bold;
}

.btn-group-justified
{
    width: 700px;
    left:60px;
    top: 30px;
    
}


.jumbotron>h1
{
    font-family: 'Tekton Pro';
    font-style: italic;
    font-size: 64pt;
    font-weight: bold;
    color:#d0cdcd;
    
}
.news-block
{
    width: 100%;
    height: 300px;
    border: 0.5px solid black;
    margin-top: -1px;
}
.news-block img
{
    float:left;
    width: 250px;
    height:200px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 6px; 
    margin-right: 20px;
}
.news-block >h2
{
    font-family: 'Arial';
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}
.news-block >h5
{
    font-family: 'Arial';
    font-size: 13pt;
    text-align: left;
}
.news-block >a>h3
{
    font-family: 'Arial';
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}
.news-block >a
{
    color:black;
}
.news-block >a:hover
{
    color:black;
}


.actual-news
{
    padding-top: 5%;
    width: 100%;
    height:  100%;
}
.actual-news>h4
{
    font-family: 'RobotoMedium';
    font-size: 18pt;
    font-style: oblique;
    font-weight: bold;
    text-align: justify;
}
.list-group-item
{
    background: #eff0f4;
}
.modal-title
{
    font-family: 'Arial';
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
.modal-header, .modal-, .modal-footer
{
    border:0px;
}

.modal-content
{
    background: #eff0f4;
    
}
.modal-footer>button
{
    width: 250px;
    margin-right: 150px;
}
.add-float{
    margin-left: 1%;
    margin-right: 1%;
}
.my-header{
    margin: 0;
    padding: 0;
    padding: 4px;
}
.affix {
    top:0;
    z-index: 9999 !important;
}

.navbar{
    border-radius: 0px;
    border-bottom: solid 2px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.auth-reg-block,.search-block,.add-button{
    padding-left: 0px;
    padding-right: 3px;
}

.add-btn{
    width: 2.5%;
    margin-right: 5px;
    padding: 5.1px;
}
.search-block{
    padding: 0;
    margin: 0;
    float: right;
}

.left-side{
    margin-left: 3px;
    /*background-color: red;*/
    padding: 0;
    margin: 0;
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 3px;
}

.left-side >textarea {
    padding-left: 2px;
    width: 100%;
}

.right-side{
    margin-right: 3px;
    padding-left: 3px;
    /*background-color: green;*/
    padding: 0;
    margin: 0;
    float: right;
    width: 50%;
    height: 100%;

}
.right-side img {
    width: 100%;
    height: 100%;
}

.full-news{
    border: solid 2px black;
    padding: 0;
    margin: 0;
    padding: 2px;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.full-news ul {
    padding-left: 25px;
}

.full-news ol {
    padding-left: 25px;
}

.full-news img{
    width: 100%;
    height: 100%;
}

.image-left{
    width: 30%;
    height: 200px;
    background-color: rgba(245,245,245,0.31);
    float: left;
}

.image-left img{
    border-radius: 5px;
}

.preview-content{
    width: 69%;
    padding-left: 15px;
    float: right;
}

.preview-block{
    width: 100%;
    display: flex;
    border:solid 2px black;
    padding: 5px;
    border-radius: 5px;
}



.markdown-block{
    width: 100%;
    float: left;
}

.markdown-block ul {
    padding-left: 25px;
}

.markdown-block ol {
    padding-left: 25px;
}