.header-page
{
    margin:absolute;
}
.exit
{
    margin:relative;
    margin-top: 10px;
    height :20px;
    width: 60px;
    font-weight: bold;
}
.text-block
{
    margin:relative;
    width:90px;
    height: 26px;
    margin-left: 30px;
    margin-top: -10px;
    margin-right: 70px;
}
.text-link
{
    margin:relative;
    margin-top: -20px;
    width: 500px;
}
.text-block>a
{
    margin-right: -30px;
}
.navbar-form
{
    margin:absolute;
    margin-top: -22px;
}
.news >h2, .preview>h2
{
    font-weight: bold;
    text-align: left;
    font-size: 30pt;
}
.form, select
{
    position:absolute;
    left:  150px;
    width: 320px;
    
}
select
{
    height: 30px;
    margin-left: 40px;
    border:1px solid graytext;
    background: #ebeff1; 
    box-shadow: 0 0 10px graytext;
    border-radius: 3px;
}
textarea
{
    position: relative;
    margin-left: 190px;
    border:1px solid graytext;
    background: #ebeff1; 
    box-shadow: 0 0 10px graytext;
    border-radius: 3px;
}
label, .news>h3
{
   position:relative;
   font-weight:normal;
   font-size: 18pt;
   width: 240px;
   height:30px; 
}
.title
{
   font-weight:normal;
   font-size: 18pt;
   width: 240px;
   height:30px; 
}

.load-file
{
    border: 0px;
    opacity: 0;
    filter: alpha (opacity = 0);
}
.fieldNameFile
{
    border:0;
    background: #d7dce2; 
}
#image_preview {
    border: 0;
    width: 100px;
    height: 100px;
}
.dropzone
{
    border:1px solid graytext;
    background: #ebeff1; 
    box-shadow: 0 0 10px graytext;
    border-radius: 3px;
}

.media-object
{
   width : 80 px ;
   height: 50px; 
}
